h1 {
    font-family: 'Courier New', Courier, monospace;
    /* Changes the font size of the selection. */
    font-size: 50px;
    /* Changes the boldness of the selection */
    font-weight: 600;
    font-weight: normal;
    font-weight: bolder;
    font-weight: lighter;
}

a {
    font-style: italic;
}

em {
    font-style: normal;
}