#link {
    font-size: 30px;
    border: 1px solid red;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}

/* This can also be short handed */
#link {
    font-size: 30px;
    border: 1px solid red;
    /* padding: top right bottom left */
    padding: 10px 15px 20px 25px;

    /* padding: top&bottom left&right */
    padding: 0px 10px;

    /* padding: allsides */
    padding: 20px;

    /* padding: top left&right bottom */
    padding: 20px 0 20px;
}