.box {
    width: 300px;
    height: 150px;
    border: 1px solid grey;
    margin: 0 auto;
    border-radius: 10px;
    /* Multiple box Shadows can be added using comma seperated values. */
    box-shadow: 10px 10px 20px aquamarine,
                10px 10px 20px blueviolet,
                -10px -10px 20px aquamarine,
                -10px -10px 20px blueviolet,
                -10px 10px 20px aquamarine,
                -10px 10px 20px blueviolet,
                10px -10px 20px aquamarine,
                10px -10px 20px blueviolet;
    
    /* Hides the content */
    overflow: hidden;
    
    /* Adds the content in scrollable box */
    overflow: scroll;
    
    /* Auto adjusts the overflow content */
    overflow: auto;
    
    /* This is a default overflow. */
    overflow: visible;
    
    /* This is to demo scroll example for the span we added. */
    overflow-y: hidden;
    overflow-x: scroll;
}

span {
    width: 500px;
    background-color: orangered;
    display: inline-block;
}